.b-nav-dropdown {
  a {
    &:after {
      content: none;
    }
  }
}

.card {
  box-shadow: $default-box-shadow;

  .card-header {
    text-align: left;
  }

  .card-body {
    text-align: left;
  }
}

.input-group-append {
  button {
    box-shadow: unset;
  }
}

.icon-addon {
  .input-group-text {
    width: 2.6rem;
  }
}

.dynamic-table {
  height: 350px;
}

.btn-icon {
  color: white !important;
}

.custom-scrollbar {

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $default-base-theme;
    border-radius: 10px;
  }
}