// Font awesome
@mixin font-awesome-fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

@mixin font-awesome-far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

@mixin font-awesome-fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}