<template>
  <div>
    <b-table responsive class="dynamic-table custom-scrollbar" :items="formData" :fields="fields">
      <template slot="HEAD_action">
        <b-button pill variant="success" @click="addRow()">
          <font-awesome-icon icon="plus"/>
        </b-button>
      </template>

      <template slot="quantity" slot-scope="row">
        <b-form-group
          :invalid-feedback="$validateStateFeedback(`quantity_${row.index}`)"
        >
          <b-form-input
            :id="`quantity_${row.index}`"
            :name="`quantity_${row.index}`"
            type="number"
            min="1"
            v-model="formData[row.index].quantity"
            v-validate="{
              required: true,
              numeric: true,
              min_value: 1
            }"
            :state="$validateState(`quantity_${row.index}`)"
          />
        </b-form-group>
      </template>

      <template slot="title" slot-scope="row">
        <b-form-group
          :invalid-feedback="$validateStateFeedback(`title_${row.index}`)"
        >
          <b-form-input
            :id="`title_${row.index}`"
            :name="`title_${row.index}`"
            type="text"
            v-model="formData[row.index].title"
            v-validate="{
              required: true
            }"
            :state="$validateState(`title_${row.index}`)"
          />
        </b-form-group>
      </template>

      <template slot="action" slot-scope="row">
        <b-button pill variant="danger" @click="removeRow(row.index)">
          <font-awesome-icon icon="minus"/>
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  name: 'add',
  props: {
    /**
     * Validate submit event from modal
     */
    submit: {
      type: Boolean,
      required: true
    },
    /**
     * Validate hide event from modal
     */
    close: {
      type: Boolean,
      required: true
    },
  },
  data () {
    return {
      formData: [{
        quantity: null,
        title: null
      }],
      fields: [
        {
          key: 'quantity',
          label: this.$t('forms.label.quantity')
        },
        {
          key: 'title',
          label: this.$t('forms.label.title')
        },
        {
          key: 'action',
          label: this.$t('forms.label.action')
        }
      ],
    }
  },
  watch: {
    submit (value) { // watch submit event from modal
      if (value) {
        this.onSubmit()
      }
    },
    close (value) { // watch hide event from modal
      if (value) {
        this.onClose()
      }
    }
  },
  methods: {
    addRow () { // onclick plus button on table
      this.formData.push({
        quantity: null,
        type: null
      })
    },
    removeRow (index) { // onclick minus button on table
      if (this.formData.length > 1) { // items must more than one to remove row
        this.formData.splice(index, 1)
      } else {
        this.$store.commit('setAlert', {
          show: true,
          status: 'custom',
          type: 'warning',
          title: 'Minimum 1 row!',
          text: ''
        })
      }
    },
    onSubmit () { // onclick submit
      // validate form data
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$bvModal.hide('add-modal')
        }
      })

      /**
       * update submit to default
       * @type {Sync}
       */
      this.$emit('update:submit', false)
    },
    onClose () { // onclose modal
      // clear rows to default
      this.formData = [{
        quantity: null,
        title: null
      }]

      /**
       * update close to default
       * @type {Sync}
       */
      this.$emit('update:close', false)
    }
  },
}

</script>
