<template>
  <div>
    <b-form-group
      :invalid-feedback="$validateStateFeedback('a_input')"
    >
      <b-form-input
        id="a_input"
        name="a_input"
        type="text"
        v-model="formData.a"
        v-validate="{
          required: true
        }"
        :state="$validateState('a_input')"
      />
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'update',
  props: {
    /**
     * Validate Submit event from modal
     */
    submit: {
      type: Boolean,
      required: true
    },
    /**
     * Validate hide event from modal
     */
    close: {
      type: Boolean,
      required: true
    },
  },
  data () {
    return {
      formData: {},
    }
  },
  watch: {
    submit (value) { // watch submit event from modal
      if (value) {
        this.onSubmit()
      }
    },
    close (value) { // watch hide event from modal
      if (value) {
        this.onClose()
      }
    }
  },
  methods: {
    onSubmit () { // onclick submit
      // validate form data
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$bvModal.hide('add-modal')
        }
      })

      /**
       * update submit to default
       * @type {Sync}
       */
      this.$emit('update:submit', false)
    },
    onClose () { // onclose modal
      // clear rows to default
      this.formData = {}

      /**
       * update close to default
       * @type {Sync}
       */
      this.$emit('update:close', false)
    }
  },
}

</script>
