<template>
  <div>
    <app-widget app="form-data" :textHeader="$t('menu.formData')">
      <b-form @submit="onSubmit">
        <b-form-group
          label="Email"
          label-for="email"
          description="We'll never share your email with anyone else."
          :invalid-feedback="$validateStateFeedback('email')"
        >
          <b-form-input
            id="email"
            name="email"
            placeholder="youremail@mail.com"
            v-model="formData.email"
            v-validate="{ required: true, email: true }"
            :state="$validateState('email')"
          />
        </b-form-group>

        <b-form-group
          label="First name"
          label-for="firstName"
          :invalid-feedback="$validateStateFeedback('firstName')"
        >
          <b-form-input
            id="firstName"
            name="firstName"
            placeholder="Szx"
            v-model="formData.firstName"
            v-validate="{ required: true }"
            :state="$validateState('firstName')"
          />
        </b-form-group>

        <b-form-group
          label="Last name"
          label-for="lastName"
          :invalid-feedback="$validateStateFeedback('lastName')"
        >
          <b-form-input
            id="lastName"
            name="lastName"
            placeholder="Admin"
            v-model="formData.lastName"
            v-validate="{ required: true }"
            :state="$validateState('lastName')"
          />
        </b-form-group>

        <b-form-group
          label="Date"
          label-for="date"
        >
          <v-date-picker
            class="datepicker"
            v-model='formData.date'
            :min-date='new Date()'
            v-slot="props"
            :locale="datepickerLocale"
          >
            <b-input-group>
              <b-form-input
                class="datepicker-input"
                readonly
                id="date"
                name="date"
                :placeholder="currentDate"
                :value="props.inputProps.value"
                v-validate="{ required: true }"
                :state="$validateState('date')"
                aria-describedby="date-feedback"
              />
              <b-input-group-append>
                <b-button variant="info" @click="formData.date = null">Clear</b-button>
              </b-input-group-append>
              <b-form-invalid-feedback id="date-feedback">
                {{$validateStateFeedback('date')}}
              </b-form-invalid-feedback>
            </b-input-group>
          </v-date-picker>
        </b-form-group>

        <b-button type="submit" variant="default" class="mt-2">Update</b-button>
      </b-form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ formData }}</pre>
      </b-card>
    </app-widget>
  </div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'

export default {
  name: 'form-data',
  data () {
    return {
      formData: {}
    }
  },
  computed: {
    ...mapGetters(['locale']),
    currentDate () {
      const compareDateFormat = {
        'gb': 'MM/DD/YYYY',
        'th': 'DD/MM/YYYY'
      }
      return moment().format(compareDateFormat[this.locale])
    },
    datepickerLocale () {
      const compareLocale = {
        'en': 'en-GB',
        'th': 'th'
      }
      return compareLocale[this.locale]
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()

      // validate form data
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$bvModal.hide('add-modal')
        }
      })
    },
  }
}
</script>

<style lang="scss" scope>
.datepicker {
  .datepicker-input {
    border-width: thin;
    cursor: pointer;
    background-color: white;
  }
}
</style>
