<template>
  <div id="app" :class="`wrapper ${classToggleSidebar}`">
    <div v-if="isLoading" class="loading-page">
      <b-spinner v-show="isLoading" class="pre-loader" variant="primary" label="Loading..." style="width: 5rem; height: 5rem;"></b-spinner>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'isLoading', 'classToggleSidebar'
    ])
  }
}
</script>

<style lang="scss">
@import "./styles/sass/main";

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.loading-page {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(white, 0.5);
  z-index: $max-z-index;
}
</style>
